@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600");

html, body {
    margin: 0; 
    box-sizing: border-box;
    background-color: #f7f7f7; 
}

h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: 'Raleway', sans-serif !important; 
}

h1 {
    font-size: 2.2rem; 
}

h3 {
    font-size: 1.4rem;
}

p {
    line-height: 2; 
}

.hr {
    width: 100%; 
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin: 2rem 0 1rem 0; 
}

.resume-nav {
    padding: 1rem 10rem; 
}

.contact-info, .prof-profiles {
    display: flex; 
    justify-content: flex-end;
}

.contact-info p, .prof-profiles a {
    margin-left: 1.5rem; 
}

.resume-header {
    padding: 6rem 10rem 1rem 10rem;  
}

.technical-skills {
    padding: 1rem 10rem 1rem 10rem; 
}

.projects-section {
    padding: 1rem 10rem 0 10rem; 
}

.projects {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem; 
    justify-content: center; 
    align-items: center; 
}

.work {
    padding: 4rem 10rem 2rem 10rem; 
}

.job-title {
    display: flex; 
    justify-content: space-between; 
}

.list-item {
    margin-bottom: 1rem;
}

.education {
    padding: 1rem 10rem 8rem 10rem; 
}

@media (max-width: 992px) {
    .projects {
        grid-template-columns: 1fr;
    }
    .resume-nav {
        padding-left: 0rem; 
        padding-right: 2rem; 
    }
    .education, .work, .projects-section, .technical-skills, .resume-header {
        padding-left: 6rem; 
        padding-right: 6rem;
    }

}
